@import "lib";
@import "ui";
@import "scrlock";

body {
	background: @bg-color-splash;
	overflow-x: hidden;
}



// header on the left side of page 
header#left {
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
	width: @sidebar-width;
	height: 100%;
	display: flex;
	align-items: center;	
	padding-bottom: @splash-offset;

	#logo {
		position: fixed;
		left: 0;
		top: 0;
		width: @sidebar-width;
		height: @sidebar-width;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 5px;

		img {
			width: 28px;
			height: 28px;
		}

		opacity: 0;
		transform: scale(.9);
		transition: all ease 200ms;
	}

	#title {
		width: @sidebar-width;
		width: 170px;
		line-height: @sidebar-width;

		transform: rotate(270deg);
		white-space: nowrap;
    	display: block;

		text-align: center;
		text-transform: uppercase;
		margin-left: -60px;
		mix-blend-mode: exclusion;
		color: @white;
	}
}

header#left:hover #logo {
	opacity: 1;
	transform: scale(1);
}


// opening scene 
section#splash {
	z-index: 9;
	height: 100%;

	.carousel {
		width: 100%;
		height: 100%;

		.item {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			display: flex;
			align-items: center;
  			justify-content: flex-end;

  			opacity: 1;
  			transform: scale(1);
			transition: left ease 600ms, 
					    opacity ease 1500ms,
					    transform ease 600ms;
			text-align: center;
			color: white;

			.title-ext {
				width: 50%;
				min-width: 300px;
				text-align: left;
				padding-bottom: @splash-offset;
			}
		}
		.i1 {
			// background: red;
			background: url(../res/bg1.jpg);
		}
		.i2 {
			// background: yellow;
			background: url(../res/bg2.jpg);
		}
		.i3 {
			// background: blue;
			background: url(../res/bg3.jpg);
		}
	}	


	

}

.carousel-mask {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	border: 40px solid;
	border-color: black;

}



// website content
section#content {
	min-height: 1450px;
}


// footer & footer content
footer#bottom {
	height: 175px;
	background: @accent-main;
}