* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
article,
footer {
  width: 100%;
}
section,
article,
footer,
h1 {
  /*margin: 0;*/
}
.blend {
  mix-blend-mode: exclusion;
  color: white;
}
div.hr {
  width: 22px;
  background: #000;
  height: 2px;
  float: left;
  margin: 0;
  border-radius: 1px;
}
h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 44px;
  margin-top: 14px;
  margin-bottom: 10px;
  color: black;
}
h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: black;
}
h1.splash,
h2.splash {
  color: #FFF;
  mix-blend-mode: exclusion;
  color: white;
}
div.splash.hr {
  background: #FFF;
  mix-blend-mode: exclusion;
  color: white;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  color: darkblue;
}
div.fade {
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: 4s fadeIn .5s forwards;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.fade img {
  width: 50px;
  animation: grow 2s 5 ease-in-out;
  opacity: .3;
}
@keyframes fadeIn {
  from {
    background: #FFF;
    opacity: 1;
  }
  15% {
    background: #000;
    opacity: 1;
  }
  55% {
    background: #000;
    opacity: 1;
  }
  99% {
    background: #000;
    opacity: 0;
  }
  to {
    background: #000;
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes grow {
  from {
    transform: scale(0.5);
    opacity: .3;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    opacity: .3;
  }
}
.element {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes stretch {
  0% {
    transform: scale(0.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1.5);
    background-color: yellow;
  }
}
/* colors */
/* inherited colors */
/* dimensions */
.scrlock {
  transition: all 1000ms ease;
}
.scr-quick {
  transition: all 200ms ease-in-out;
}
.scr-medium {
  transition: all 600ms ease-in-out;
}
.goBlack {
  color: #000 !important;
}
.goWhite {
  color: #FFF !important;
}
body {
  background: #000;
  overflow-x: hidden;
}
header#left {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 42px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 130px;
}
header#left #logo {
  position: fixed;
  left: 0;
  top: 0;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  opacity: 0;
  transform: scale(0.9);
  transition: all ease 200ms;
}
header#left #logo img {
  width: 28px;
  height: 28px;
}
header#left #title {
  width: 42px;
  width: 170px;
  line-height: 42px;
  transform: rotate(270deg);
  white-space: nowrap;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-left: -60px;
  mix-blend-mode: exclusion;
  color: #FFF;
}
header#left #menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 42px;
  white-space: nowrap;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
header#left #menu img {
  width: 28px;
  height: 28px;
}
header#left:hover #logo {
  opacity: 1;
  transform: scale(1);
}
section#splash {
  z-index: 9;
  height: 100%;
}
section#splash .carousel {
  width: 100%;
  height: 100%;
}
section#splash .carousel .item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 1;
  transform: scale(1);
  transition: left ease 600ms, 
					    opacity ease 1500ms,
					    transform ease 600ms;
  text-align: center;
  color: white;
}
section#splash .carousel .item .title-ext {
  width: 50%;
  min-width: 300px;
  text-align: left;
  padding-bottom: 130px;
}
section#splash .carousel .i1 {
  background: url(../res/bg1.jpg);
}
section#splash .carousel .i2 {
  background: url(../res/bg2.jpg);
}
section#splash .carousel .i3 {
  background: url(../res/bg3.jpg);
}
.carousel-mask {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  width: 0;
  height: 0;
}
.carousel-mask #left {
  position: fixed;
  top: 0;
  left: 0;
  width: 42px;
  height: 100%;
  background: inherit;
}
.carousel-mask #right {
  position: fixed;
  top: 0;
  right: 0;
  width: 42px;
  height: 100%;
  background: inherit;
}
.carousel-mask #top {
  position: fixed;
  top: 0;
  left: 0;
  height: 42px;
  width: 100%;
  background: inherit;
}
.carousel-mask #bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 42px;
  width: 100%;
  background: inherit;
}
section#content {
  min-height: 1450px;
  padding: 42px;
  padding-top: 0;
}
footer#bottom {
  height: auto;
  background: #000;
  padding-left: 42px;
  padding-right: 42px;
  color: white;
  padding-bottom: 42px;
}
footer#bottom a {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  transition: color ease 300ms;
  cursor: pointer;
  overflow: hidden;
}
footer#bottom a:hover {
  color: #FFF;
  font-weight: 400;
}
footer#bottom #color {
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #DC8022 0, #DC8022 10%, #C70404 20%, #C70404 30%, #30119A 40%, #30119A 50%, #BF1BAE 60%, #BF1BAE 70%, #702076 80%, #702076 90%);
}
footer#bottom #content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  line-height: 42px;
}
footer#bottom #content #left {
  width: 50%;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}
footer#bottom #content #right {
  width: 50%;
  float: right;
}
footer#bottom #content #right .color1 {
  color: #DC8022;
}
footer#bottom #content #right .color2 {
  color: #C70404;
}
footer#bottom #content #right .color3 {
  color: #30119A;
}
footer#bottom #content #right .color4 {
  color: #BF1BAE;
}
footer#bottom #content #right .color5 {
  color: #702076;
}
